/clase1/ejemplos/clase1/build/
/clase1/ejemplos/clase1/dist/
/clase1/ejemplos/clase1-compilacion/dist/
/clase1/ejemplos/clase1-compilacion/build/
.DS_Store
/clase2/ejemplos/clase2-cout/build/
/clase2/ejemplos/clase2-cout/dist/
/clase3/ejemplos/clase3-cin/build/
/clase3/ejemplos/clase3-cin/dist/
/clase4/ejemplos/clase4-profesores/build/
/clase4/ejemplos/clase4-profesores/dist/
/clase4/ejemplos/clase5-labdirigido/dist/
/clase4/ejemplos/clase5-labdirigido/build/
/clase6/ejemplos/clase6-binarios/build/
/clase6/ejemplos/clase6-binarios/dist/
/clase7/clase7/build/
/clase7/clase7/dist/
/clase8/clase8_libreria_estatica/build/
/clase8/clase8_libreria_estatica/dist/
/clase8/clase8_prueba_libreria_estatica/build/
/clase8/clase8_prueba_libreria_estatica/dist/
/clase8/clase8_cadenas/build/
/clase8/clase8_cadenas/dist/
/clase8/clase8_prueba_estatica/build/
/clase8/clase8_prueba_estatica/dist/
/clase9/clase9_lab3_prueba/dist/
/clase9/clase9_lab3_prueba/build/
/clase9/clase9_lab3_fuentes_lib_estatica/build/
/clase9/clase9_lab3_fuentes_lib_estatica/dist/
/clase10/clase10_punteros_memoria_exacta/build/
/clase10/clase10_punteros_memoria_exacta/dist/
/NewFolder/lab4/build/
/NewFolder/lab4/dist/
/clase11/clase11-memoria_exacta_incrementos/build/
/clase11/clase11-memoria_exacta_incrementos/dist/
/clase11/clase11-punteros_void/dist/
/clase11/clase11-punteros_void/build/
/clase11/clase11-void_ejercicio/build/
/clase11/clase11-void_ejercicio/dist/
/clase12/clase12_Ejercicio_Examen/build/
/clase12/clase12_Ejercicio_Examen/dist/
/clase13/clase13_punteros_funciones/dist/
/clase13/clase13_punteros_funciones/build/
/clase13/clase13_qsort/build/
/clase13/clase13_qsort/dist/
/NewFolder/clase14_qsort_generico/build/
/NewFolder/clase14_qsort_generico/dist/
/clase14/clase14_listas/build/
/clase14/clase14_listas/dist/
/clase15/clase15/build/
/clase15/clase15/dist/
/clase15/clase15_juego/build/
/clase15/clase15_juego/dist/
/clase16_items/clase16_items/dist/
/clase16_items/clase16_items/build/
/clase17/clase17_items_herencia/build/
/clase17/clase17_items_herencia/dist/
/Clase18/clase18_polimorfismo/build/
/Clase18/clase18_polimorfismo/dist/
/Clase18/clase18_fichas/build/
/Clase18/clase18_fichas/dist/