/2023-1/clase1/ejemplos/2023-1/clase1/build/
/2023-1/clase1/ejemplos/2023-1/clase1/dist/
/2023-1/clase1/ejemplos/2023-1/clase1-compilacion/dist/
/2023-1/clase1/ejemplos/2023-1/clase1-compilacion/build/
.DS_Store
main.dSYM/
/2023-1/clase2/ejemplos/2023-1/clase2-cout/build/
/2023-1/clase2/ejemplos/2023-1/clase2-cout/dist/
/2023-1/clase3/ejemplos/2023-1/clase3-cin/build/
/2023-1/clase3/ejemplos/2023-1/clase3-cin/dist/
/2023-1/clase4/ejemplos/2023-1/clase4-profesores/build/
/2023-1/clase4/ejemplos/2023-1/clase4-profesores/dist/
/2023-1/clase4/ejemplos/2023-1/clase5-labdirigido/dist/
/2023-1/clase4/ejemplos/2023-1/clase5-labdirigido/build/
/2023-1/clase6/ejemplos/2023-1/clase6-binarios/build/
/2023-1/clase6/ejemplos/2023-1/clase6-binarios/dist/
/2023-1/clase7/2023-1/clase7/build/
/2023-1/clase7/2023-1/clase7/dist/
/2023-1/clase8/2023-1/clase8_libreria_estatica/build/
/2023-1/clase8/2023-1/clase8_libreria_estatica/dist/
/2023-1/clase8/2023-1/clase8_prueba_libreria_estatica/build/
/2023-1/clase8/2023-1/clase8_prueba_libreria_estatica/dist/
/2023-1/clase8/2023-1/clase8_cadenas/build/
/2023-1/clase8/2023-1/clase8_cadenas/dist/
/2023-1/clase8/2023-1/clase8_prueba_estatica/build/
/2023-1/clase8/2023-1/clase8_prueba_estatica/dist/
/2023-1/clase9/2023-1/clase9_lab3_prueba/dist/
/2023-1/clase9/2023-1/clase9_lab3_prueba/build/
/2023-1/clase9/2023-1/clase9_lab3_fuentes_lib_estatica/build/
/2023-1/clase9/2023-1/clase9_lab3_fuentes_lib_estatica/dist/
/2023-1/clase10/2023-1/clase10_punteros_memoria_exacta/build/
/2023-1/clase10/2023-1/clase10_punteros_memoria_exacta/dist/
/2023-1/NewFolder/lab4/build/
/2023-1/NewFolder/lab4/dist/
/2023-1/clase11/2023-1/clase11-memoria_exacta_incrementos/build/
/2023-1/clase11/2023-1/clase11-memoria_exacta_incrementos/dist/
/2023-1/clase11/2023-1/clase11-punteros_void/dist/
/2023-1/clase11/2023-1/clase11-punteros_void/build/
/2023-1/clase11/2023-1/clase11-void_ejercicio/build/
/2023-1/clase11/2023-1/clase11-void_ejercicio/dist/
/2023-1/clase12/2023-1/clase12_Ejercicio_Examen/build/
/2023-1/clase12/2023-1/clase12_Ejercicio_Examen/dist/
/2023-1/clase13/2023-1/clase13_punteros_funciones/dist/
/2023-1/clase13/2023-1/clase13_punteros_funciones/build/
/2023-1/clase13/2023-1/clase13_qsort/build/
/2023-1/clase13/2023-1/clase13_qsort/dist/
/2023-1/NewFolder/2023-1/clase14_qsort_generico/build/
/2023-1/NewFolder/2023-1/clase14_qsort_generico/dist/
/2023-1/clase14/2023-1/clase14_listas/build/
/2023-1/clase14/2023-1/clase14_listas/dist/
/2023-1/clase15/2023-1/clase15/build/
/2023-1/clase15/2023-1/clase15/dist/
/2023-1/clase15/2023-1/clase15_juego/build/
/2023-1/clase15/2023-1/clase15_juego/dist/
/2023-1/clase16_items/2023-1/clase16_items/dist/
/2023-1/clase16_items/2023-1/clase16_items/build/
/2023-1/clase17/2023-1/clase17_items_herencia/build/
/2023-1/clase17/2023-1/clase17_items_herencia/dist/
/2023-1/Clase18/2023-1/clase18_polimorfismo/build/
/2023-1/Clase18/2023-1/clase18_polimorfismo/dist/
/2023-1/Clase18/2023-1/clase18_fichas/build/
/2023-1/Clase18/2023-1/clase18_fichas/dist/
/2023-1/clase19/2023-1/clase19_ejercicio_polimorfismo/build/
/2023-1/clase19/2023-1/clase19_ejercicio_polimorfismo/dist/
/2023-1/clase20/2023-1/clase20_arboles_auto_referenciado/2023-1/clase20_arboles_auto_referenciado/build/
/2023-1/clase20/2023-1/clase20_arboles_auto_referenciado/2023-1/clase20_arboles_auto_referenciado/dist/
/2023-1/clase21/2023-1/clase21_plantillas_listas/build/
/2023-1/clase21/2023-1/clase21_plantillas_listas/dist/
/2023-1/clase21/2023-1/clase21_vectors/dist/
/2023-1/clase21/2023-1/clase21_vectors/build/
/2023-2/Laboratorios/Lab0A/LecturaEscrituraArch/build/
/2023-2/Laboratorios/Lab0A/LecturaEscrituraArch/dist/
/2023-2/Laboratorios/Lab0A/Redireccion/build/
/2023-2/Laboratorios/Lab0A/Redireccion/dist/
/2023-2/Laboratorios/Lab04/build/
/2023-2/Laboratorios/Lab04/dist/
/2025-1/Clase28/PrimerPrograma/nbproject/private/
/2025-1/Clase28/PrimerPrograma/build/
/2025-1/Clase28/PrimerPrograma/dist/
/2025-1/Clase29/PrimerProyecti/nbproject/private/
/2025-1/Clase29/PrimerProyecto/nbproject/private/
/2025-1/Clase29/PrimerProyecto/build/
/2025-1/Clase29/PrimerProyecto/dist/
/2025-1/Clase29/SegundoProyecto/nbproject/private/
/2025-1/Clase29/SegundoProyecto/build/
/2025-1/Clase29/SegundoProyecto/dist/
/2025-1/Clase29/TercerPrograma/nbproject/private/
/2025-1/Clase29/TercerPrograma/dist/
/2025-1/Clase29/TercerPrograma/build/
/2025-1/Clase30/CuartoProyecto/nbproject/private/
/2025-1/Clase30/CuartoProyecto/build/
/2025-1/Clase30/CuartoProyecto/dist/
/2025-1/Clase30/QuintoProyecto/nbproject/private/
/2025-1/Clase30/QuintoProyecto/build/
/2025-1/Clase30/SextoProyecto/nbproject/private/
/2025-1/Clase30/SextoProyecto/dist/
/2025-1/Clase30/SextoProyecto/build/
/2025-1/Clase30/SeptimoProyecto/nbproject/private/
/2025-1/Clase30/SeptimoProyecto/build/
/2025-1/Clase30/SeptimoProyecto/dist/
/laboratorios_pasados/2024-2/L10/solucion-final/L10/nbproject/private/
/laboratorios_pasados/2024-2/L10/solucion-final/L10/dist/
/laboratorios_pasados/2024-2/L10/solucion-final/L10/build/
!/cmake-build-debug/Data/*
!/cmake-build-debug/Reports/*

