/clase1/ejemplos/clase1/build/
/clase1/ejemplos/clase1/dist/
/clase1/ejemplos/clase1-compilacion/dist/
/clase1/ejemplos/clase1-compilacion/build/
.DS_Store
/clase2/ejemplos/clase2-cout/build/
/clase2/ejemplos/clase2-cout/dist/
/clase3/ejemplos/clase3-cin/build/
/clase3/ejemplos/clase3-cin/dist/
/clase4/ejemplos/clase4-profesores/build/
/clase4/ejemplos/clase4-profesores/dist/
/clase4/ejemplos/clase5-labdirigido/dist/
/clase4/ejemplos/clase5-labdirigido/build/